@include getCls('loading') {
  z-index: 5001;
  position: fixed;
  top: 200px;
  left: 50%;
  display: inline-block;
  padding: 18px 30px;
  vertical-align: middle;
  border-radius: 8px;
  text-align: center;
  color: $white;
  background-color: rgba(0, 0, 0, .6);
  transform: translateX(-50%);
  span {
    display: inline-block;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    animation: fsRotate .8s linear infinite;
    animation-duration: 2s;
  }
  &-circular {
    span {
      svg {
        width: 100%;
        height: 100%;
        opacity: 1;
        circle {
          stroke: currentColor;
          stroke-width: 3;
          stroke-linecap: round;
          animation: fsCircular 1.5s ease-in-out infinite;
        }
      }
    }
  }
  &-spinner {
    span {
      position: relative;
      i {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
          content: ' ';
          display: block;
          width: 2px;
          height: 20%;
          margin: 0 auto;
          border-radius: 40%;
          background-color: currentColor;
        }
      }
    }
  }
  &-text {
    margin-top: 6px;
    color: $white;
    font-size: $size-14;
  }
}

@for $i from 1 to 13 {
  .yt-loading-spinner span i:nth-of-type(#{$i}) {
    $val: $i;
    opacity: 1 - (.75 / 12) * ($val - 1);
    transform: rotate(($val * 30deg));
  }
}