@import "variable.scss";
[class*='yt-1px'] {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border: 0 solid $line-color;
    color: $line-color;
    transform-origin: left top;
    transform: scale(.5);
    pointer-events: none;
  }
}
.yt-1px {
  &-top::after {
    border-top-width: 1px;
  }
  &-right::after {
    border-right-width: 1px;
  }
  &-bottom::after {
    border-bottom-width: 1px;
  }
  &-left::after {
    border-left-width: 1px;
  }
}
