@include getCls('action-sheet') {
  &-content {
    li {
      @include yt-1px-bottom;
      height: 50px;
      line-height: 50px;
      color: $primary-text-color;
      text-align: center;
      font-size: 16px;
      background-color: $white;
      &:active {
        color: $primary-color;
      }
      &.disabled {
        color: $dark-hint-text-color;
        cursor: not-allowed;
        &:active {
          @include click-feed-back;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  &-cancel {
    margin-top: 6px;
    &:active {
      color: $primary-text-color !important;
    }
  }
}