@include getCls('swiper-cell') {
  width: 100%;
  overflow: hidden;
  &-wrapper {
    position: relative;
    transition: $all-transition;
    .yt-cell {
      &::after {
        display: none;
      }
    }
  }
  &-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    transform: translateX(100%);
    .yt-button {
      width: 60px;
      height: 100%;
    }
  }
}